
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* GENERAL */

body {
    font-family: Whitney, Helvetica Neue, Helvetica,Arial, sans-serif;
}



/* UTILITIES */

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1200px;
    margin: auto;
}

/* classe col */
.col {
    float: left;
}

.col-25 {
    width: 25%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.btn {
    text-decoration: none;
}

.btn-small 

/* text */

.text-white {
    color: white;
}

/* HEADER */

header {
    background-color: #3161E0 ;
}

/* top bar */

.top-bar {
    height: 80px;
    line-height: 80px;
}

#logo {
    text-align: right;
    vertical-align: middle;
}

.top-bar .btn {
    text-align: right;
}

/* main menu */

.main-menu {
    text-align: center;
}

.main-menu li {
    display: inline-block;
    margin: 0 10px;
}

.main-menu li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

