
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* GENERAL */

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    width: 1100px;
    margin: auto;
}

nav li {
    display: inline-block;   
}

/* UTILITIES */

/* C:background bg-gray*/
/* classe padding? da tutti i lati per tutti i testi */

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.pos-relative {
    position: relative;
}

.full-view {
    height: 100vh;
}

/* width */

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50 {
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

/* classe col */
.col,.float-left {
    float: left;
}

.float-right {
    float: right;
}


/* buttons */

a {
    text-decoration: none;
    cursor: pointer;
}

.btn-small {
    padding: 10px 16px;
    border-radius: 22px;
    font-size: 16px;
}

.btn-big {
    padding: 14px 24px;
    border-radius: 26px;
    font-size: 18px;
}

.btn-clear {
    background-color: white;
    color: #23272A;
}

.btn-dark {
    background-color: #23272A;
    color: white;
}

.btn-blue {
    background-color: #8EA1E1;
    color: white;
}

.btn:hover {
    color: blue;
}

/* text */

.text-white {
    color: white;
}

.text-blue {
    color: #7289DA
}

.text-align-center {
    text-align: center;
}




/* HEADER */

header {
    background-color: #3161E0 ;
}

/* top bar */

.top-bar {
    height: 80px;
    line-height: 80px;
}

.logo {
    vertical-align: middle;
}

.top-bar .button {
    text-align: right;
}

/* main menu */
/* margine automatico fra sezioni */

.main-menu li a {
    color: white;
    font-size: 16px;
    margin: 0 15px;
}

/* spotlight */

.spotlight {
    /* C:sistemare con background size, repeat, etc */
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height:500px;
}

.spotlight .container {
    height:500px;
}

.spotlight .w-70 {
    margin: auto;
}

.spotlight-text {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding:0 20px;
}

.spotlight-text h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

.spotlight-text p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.7em;
}

.spotlight .btn {
    margin: 0 15px;
}

/* MAIN */

/* sections text */
.section-text {
    padding-top:150px;
}

.full-view h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.full-view p {
    font-size: 20px;
}


/* sign-in */

.sign-in {
    margin-bottom: 150px;
}

.star-background {
    margin: 40px auto;  
    background-image: url(..//img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 560px;
    height:100px
}

.star-background h3 {
    font-size: 28px;
    line-height: 100px;
    vertical-align: bottom;
    position: relative;
    top: 30px;
}
/* sistemare altezza background */


/* section image */

.full-view:not(.fourth-section) img {
    padding-top: 120px;
}


.section-image:nth-child(2) {
    text-align: right;
}


.fourth-section img {
    width: 100%;
}

/*  */
/* FOOTER */

footer {
    background-color: #23272A;
}

footer h2 {
    font-size: 2em;
}

footer .language {
    padding: 15px 0;
    color:white;
    vertical-align: middle;
}

.language img {
    width: 7%;
    vertical-align: middle;
}

.nav-social .fab {
    font-size: 20px;
    padding-right: 10px;
}


.contacts {
    padding:60px 0 30px;
}


.nav-social {
    font-size: 22px;
    padding-right: 15px;
}

footer .col-25 {
    padding-left: 30px;
}

footer li {
    list-style-type: none;
    line-height: 25px;
    font-size: 14px;
}

footer a {
    color: white;
}

hr {
    height: 1px;
    background-color: gray;
    border: none;
}


/* bottom-bar */

.bottom-bar {
    height: 150px;
    line-height: 100px;
}

.bottom-bar .btn {
    vertical-align: middle;
    text-align: right;
    display: inline;
    line-height: 1;
}


.bottom-bar .clearfix {
    padding-top: 30px;
}