
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* GENERAL */

body {
    font-family: Whitney, Helvetica Neue, Helvetica,Arial, sans-serif;
}



/* UTILITIES */

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1100px;
    margin: auto;
}

/* classe col */
.col {
    float: left;
}

.col-25 {
    width: 25%;
}

.col-40 {
    width: 40%;
}

.col-50 {
    width: 50%;
}

.col-60 {
    width: 60%;
}

.btn {
    text-decoration: none;
    display: inline;
}

.btn-small {
    padding: 10px 16px;
    border-radius: 30px;
    font-size: 16px;
}

.btn-big {
    /* TO DO- determinare caratteristiche */
}

.btn-clear {
    background-color: white;
    color: #23272A;
}

.btn-dark {
    background-color: #23272A;
    color: white;
}

/* text */

.text-white {
    color: white;
}

/* HEADER */

header {
    background-color: #3161E0 ;
}

/* top bar */

.top-bar {
    height: 80px;
    line-height: 80px;
}

#logo {
    text-align: right;
    vertical-align: middle;
}

.top-bar .button {
    text-align: right;
}

/* main menu */

.main-menu {
    text-align: center;
}

.main-menu li {
    display: inline-block;
    margin: 0 15px;
}

.main-menu li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

